/*
	Estilos para la página de la categoría
	Estos estilos son aplicados tanto a la descripción inicial como al listado de productos en rejilla
*/
main{
	width:800px;
	margin:auto;
}
.rejillaproductos{
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr;
  	gap:30px;
  	margin-top:50px;
}
.descripcioncategoria{
	margin-top:100px;
	text-align:center;
}
.descripcioncategoria iframe{
	width:100%;
	height:200px;
	border-radius:20px;
}
main article{
	text-align:center;
}
main article img{
	width:80%;
}
main article a{
	color:inherit;
	text-decoration:none;
}
main article h4{
	font-size:20px;
}
main article p{
	text-align:justify;
	font-size:13px;
}
